{
  "rules": {
    "no-var": 1,
    "semi": [2, "always"],//语句强制分号结尾
    "eol-last": "error",
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "no-trailing-spaces": "error",
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": true }]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}